.a-link {
  font-weight: bold;
  display: flex;
}

.a__primary {
  color: #42424a;
}
.a__secondary {
  color: #b33cdb;
}

.a--icon {
  display: flex;
  margin-left: 0.5em;
  align-self: center;
}

@media only screen and (max-width: 565px) {
  .a-link {
    justify-content: center;
  }
}
