.a-link{
    font-weight: bold;
    display: flex;
}

.a-primary{
    color: #42424A;
}
.a-secondary{
    color: #B33CDB;
}

.a-icon{
    display: flex;
    margin-left: .5em;
    align-self: center;
}
