@use "../../styles/theme/colors.scss";
.a-link {
  font-weight: 500px;
  display: flex;
  color: colors.$black;
}

.a__primary {
  color: #42424a;
}
.a__secondary {
  color: #b33cdb;
}

.a--icon {
  display: flex;
  margin-left: 0.5em;
  align-self: center;
}
