$black: #1f1f26;
$blueGray: #425466;
$darkDray: #6d6d6d;
$darkPurple: #231a36;
$gray: #959595;
$green: #426666;
$lightGray: #e3e3ea;
$lightGreen: #7b9292;
$pink: #de2879;
$purple: #b33cdb;
$white: #fff;
$yellow: #fbba33;
