// Container width
$container: 111.4rem;
$container-sm: 97.6rem;

// Padding / Margin
$size-6xl: 14rem;
$size-5xl: 8rem;
$size-4xl: 7.5rem;
$size-3xl: 5.5rem;
$size-2xl: 4rem;
$size-xl: 2.8rem;
$size-lg: 2.5rem;
$size-md: 2rem;
$size-sm: 1.8rem;
$size-xs: 1.2rem;
$size-xxs: 1rem;
