@use "../../styles/theme/fonts.scss";
.card {
  display: flex;
  align-items: center;
  text-align: left;
}

.reverse {
  display: flex;
  align-items: center;
  flex-direction: row-reverse;
}

.card--header {
  h3 {
    color: #1f1f26;
  }
  p {
    // color:#B33CDB;
    text-transform: uppercase;
    letter-spacing: 1.5px;
    margin-bottom: 0.25em;
  }
  .card-tag--influencer {
    color: #b33cdb;
    font-size: fonts.$size-sm;
  }

  .card-tag--community {
    color: #fbba33;
    font-size: fonts.$size-sm;
  }
  .card-tag--services {
    color: #de2879;
    font-size: fonts.$size-sm;
  }
}

.card--body {
  p {
    letter-spacing: 1.25px;
    line-height: 2em;
    // width: 400px;
    color: #426666;
    margin-top: 0;
  }
}

.card--main {
  padding: 0 2rem;
}

@media only screen and (max-width: 565px) {
  .card {
    display: flex;
    flex-direction: column-reverse;
    margin-bottom: 7em;
  }
}
