@use "theme/colors";
@use "theme/fonts.scss";
@use "theme/mq.scss";

@mixin fontSize($base: fonts.$size-md, $tablet: $base, $desktop: $tablet) {
  font-size: $base;
  @include mq.lgMobile {
    font-size: $tablet;
  }
  @include mq.laptop {
    font-size: $tablet;
  }
  @include mq.desktop {
    font-size: $desktop;
  }
}

* {
  box-sizing: border-box;
}

html,
body {
  width: 100%;
  height: 100%;
  padding: 0;
  margin: 0;
  font-family: fonts.$family-inter;
  overflow-x: hidden;
}

html {
  font-size: 10px;
  &::-webkit-scrollbar {
    display: none;
  }
}

body {
  font-size: fonts.$size-md;
  color: colors.$green;
}

a {
  color: inherit;
  text-decoration: none;
}

h1,
.h1,
h2,
.h2,
h3,
.h3,
h4,
.h4,
h5,
.h5,
h6,
.h6 {
  font-family: fonts.$family-poppins;
  font-weight: 600;
  color: colors.$black;
  line-height: normal;
  margin: 0;
}

h1,
.h1 {
  @include fontSize(fonts.$size-3xl, fonts.$size-4xl, fonts.$size-5xl);
  line-height: 113%;
  margin: 1rem 0;
}
h2,
.h2 {
  @include fontSize(fonts.$size-2xl, fonts.$size-3xl);
}
h3,
.h3 {
  @include fontSize(fonts.$size-xl, fonts.$size-2xl);
}
h4,
.h4 {
  @include fontSize(fonts.$size-lg, fonts.$size-xl);
}
h5,
.h5 {
  @include fontSize(fonts.$size-md, fonts.$size-lg);
}
h6,
.h6 {
  @include fontSize(fonts.$size-sm, fonts.$size-md);
}

.title {
  background-color: #f3ec78;
  background-image: linear-gradient(90deg, #c87c00, #8b3208, #53200f, #53200f);
  background-size: 100%;
  -webkit-background-clip: text;
  -moz-background-clip: text;
  -webkit-text-fill-color: transparent;
  -moz-text-fill-color: transparent;
}
