@use "theme/colors";
@use "theme/fonts.scss";
@use "theme/spacing.scss";

.page {
  display: flex;
  flex-direction: column;
  align-items: center;
  min-height: 100vh;

  header,
  main,
  footer {
    width: 100%;
  }

  main {
    flex-grow: 2;
    text-align: center;

    .service__section {
      .service__cards {
        margin-top: spacing.$size-5xl;
      }
    }

    .testimonial__section {
      .testimonial__card {
        margin-top: spacing.$size-5xl;
      }
    }
  }
}
